<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Eurowings Project">
 <listeners>
        <listener class-name="com.eurowings.utils.AnnotationTransformer"/>
  </listeners>
	<test  name="FunctionalValidation">
		<classes>
			<class name="com.eurowings.testcases.TC001_FlightStatusValidation_ByFlightRoute" />
			<class name="com.eurowings.testcases.TC002_FlightStatusValidation_ByFlightNumber" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->